<mat-card>
  <mat-card-content>
    <p>
      SwUpdate service gives an access to events that indicate when the SW has discovered an available update for the application, or has activated such an update (meaning it is now serving content from that update)
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="checkForUpdate()"><mat-icon>check</mat-icon>Check for update</button>
    <button mat-raised-button (click)="activateUpdate()"><mat-icon>refresh</mat-icon>Activate update</button>
    <button mat-raised-button (click)="subscribeToPush()"><mat-icon>notifications_active</mat-icon>Subscribe for push</button>
    <button mat-raised-button (click)="openLog()"><mat-icon>list</mat-icon>Open log</button>
  </mat-card-actions>

</mat-card>