<md-card>
  <md-card-header>
    <md-icon md-card-avatar>sync</md-icon>
    <md-card-title>Background Sync</md-card-title>
    <md-card-subtitle>Defer actions until the user has stable connectivity</md-card-subtitle>
  </md-card-header>
  <md-card-content>

    <form #messageForm="ngForm" novalidate (submit)="messageFormSubmit(messageForm)">

      <md-input-container style="width: 300px;">
        <input mdInput placeholder="Message" value="" type="text" required ngModel #messageRef name="message">
        <div *ngIf="messageRef.errors?.required && messageRef.touched" class="error">
          Message is required
        </div>
      </md-input-container>

      <button md-raised-button color="accent" type="submit"><md-icon>message</md-icon>Post!</button>

    </form>

  </md-card-content>

</md-card>
