<mat-sidenav-container class="mat-typography">
  <mat-sidenav #sidenav>

    <mat-toolbar color="accent">

      <img src="assets/images/logo.png" class="logo" alt="{{title}}" />

    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <a matLine>Dashboard</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <a matLine>Logout</a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <span>
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

    </span>
    <span>{{title}}</span>

  </mat-toolbar>

  <div class="content">

    <mat-tab-group>
      <mat-tab label="Caching">

        <app-control-ngsw></app-control-ngsw>

      </mat-tab>
      <mat-tab label="Push Notifications">

        <app-control-push></app-control-push>

      </mat-tab>
      <mat-tab label="Update flow">

        <app-control-broadcast></app-control-broadcast>

      </mat-tab>
    </mat-tab-group>

  </div>

</mat-sidenav-container>
