<md-sidenav-container class="mat-typography">
  <md-sidenav #sidenav>

    <md-toolbar color="accent">

      <img src="assets/images/logo.png" class="logo" alt="{{title}}" />

    </md-toolbar>

    <md-nav-list>
      <md-list-item>
        <md-icon md-list-icon>folder</md-icon>
        <a md-line>Dashboard</a>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>folder</md-icon>
        <a md-line>Logout</a>
      </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <md-toolbar color="primary">
    <span>
      <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
          </button>
      
          </span>
    <span>{{title}}</span>

    <span fxFlex></span>

    <span>
      
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item>
          <md-icon>dialpad</md-icon>
          <span>Dashboard</span>
    </button>
    <button md-menu-item disabled>
          <md-icon>voicemail</md-icon>
          <span>Show log</span>
        </button>
    <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          <span>Disable notifications</span>
        </button>
    </md-menu>

    </span>
  </md-toolbar>

  <div class="content">



    <md-tab-group>
      <md-tab label="Push Notifications">

        <app-control-push></app-control-push>

      </md-tab>
      <md-tab label="Background Sync">

        <app-post-tweet></app-post-tweet>

      </md-tab>
      <md-tab label="Broadcast Channel">

        <app-control-broadcast></app-control-broadcast>

      </md-tab>
    </md-tab-group>

    <app-tweet-feeds></app-tweet-feeds>

  </div>

</md-sidenav-container>
