<mat-card>
  <mat-card-content>
    <p>
      Push and notification use different, but complementary, APIs: push is invoked when a server supplies information to a service
      worker; a notification is the action of a service worker or web page script showing information to a user.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="subscribeToPush()"><mat-icon>notifications_active</mat-icon>Subscribe</button>
    <button mat-raised-button (click)="unsubscribeFromPush()"><mat-icon>notifications_off</mat-icon>Unsubscribe</button>
  </mat-card-actions>

</mat-card>
